<div id='main' class="main">
    <div class='main_title'>Enjoy We are Routein!!</div>
    <div class='main_sub_title'>
        自分の毎日の習慣をリストにしてチェック！<br>
        継続は力なり！
    </div>
    <div class="main_content">

        <div>
            ログインをしているかを確認して表示を出しわける。
        </div>

        
            <div>
        
            </div>
        

        <div>
            ログインをする
        </div>
        <div>
            自分のルーティーンを確認する
        </div>
        <div>
            ルーティーンを作成する
        </div>
        
        <div>
            
        </div>

        <div class="main_outer_box">
            <div class='main_inner_box'>ユーザーの一覧</div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>マイルーティーンを確認する</div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>ルーティーンの一覧を確認する</div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>ログアウトする</div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>ログインする</div>
        </div>
    </div>
</div>
