<div class="row">
  <div class='frame_title'>Enjoy We are Routein!!</div>
  <div class='frame_sub_title'>
    自分の毎日の習慣をリストにしてチェック！<br>
    継続は力なり！
  </div>
</div>
<% if @current_user_signed == true %>
  <div class="row">
    <%= render '/shared/personal_card', current_user_obj: @current_user_obj %>
  </div>
<% end %>