<div id='main' class="main">
    <div class='main_title'>Enjoy We are Routein!!</div>
    <div class='main_sub_title'>
        自分の毎日の習慣をリストにしてチェック！<br>
        継続は力なり！
    </div>
    <div class="main_content">
        <div class="main_outer_box">
            <div class='main_inner_box'>
                <%= link_to 'ユーザーの一覧確認', users_path, class: 'main_link_btn' %>
            </div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>マイルーティーン確認</div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>
                <%= link_to 'ルーティーンリスト確認', routines_path, class: 'main_link_btn' %>
            </div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>
                <%= link_to 'ログインする', login_sign_in_path, class: 'main_link_btn' %>
            </div>
        </div>
        <div class="main_outer_box">
            <div class='main_inner_box'>
                <%= link_to 'ログアウトする', login_sign_out_path, method: :delete, class: 'main_link_btn' %>
            </div>
        </div>
    </div>
</div>
