<div class='layouts_flash'>
    <div class="flash_notice"><%= flash[:notice] %></div>
    <div class="flash_success"><%= flash[:success] %></div>
    <div class="flash_warning"><%= flash[:warning] %></div>
    <div class="flash_danger"><%= flash[:danger] %></div>
</div>