<footer id='footer' class='footer'>
    <div class='footer_inner'>
        <div class='footer_copy'>© 2020-2021 KYOUHEI UNO</div>
        <div class='footer_hoge'>
            <div>以下は最後に削除するエリアです。</div>
            <%= link_to 'ユーザー新規作成', new_user_path %>
            <%= link_to 'ユーザー一覧表示', users_path %>
            <%= link_to 'ルーティーンカード一覧表示', routines_path %>
            <%= link_to 'ルーティーンカード作成', new_routine_path %>
        </div>
    </div>
</footer>