<div class="col-md-6">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "icon_default.jpeg", class: "icon_image" %>
    </div>
    <div class="col-md-4">
      <div class="p_card_text">
        
      </div>
    </div>
  </div>
</div>