//インポートファイル
@import "/common/responsive";
@import "/common/box_card";

//mainのSCSS
.main{
    width: 100%;
    background-color: #dae7ff96;
    &_title {
        font-size: 26px;
    }
    &_sub_title{
        font-size: 14px;
    }
    &_outer_box{
        @include responsive;
    }
    &_inner_box{
        margin: 15px;
        padding: 15px;
        background: white;
        box-sizing:border-box;
        height: 100px;
        @include box_card;
    }
    &_link_btn {
        text-align: center;
        display: block;
        cursor: pointer;
        height: 100%;
    }
}