@import "/common/responsive";

//mainのSCSS
.frame{
    width: 100%;
    &_title {
        font-size: 26px;
    }
    &_sub_title{
        font-size: 14px;
    }
    &_link_btn {
        text-align: center;
        display: block;
        cursor: pointer;
        height: 100%;
    }
}