@import "/common/box_card";

$basic-color: #616161;
//最大幅
$max_width_value: 1280px;
//枠の内枠の共通幅
$common_inner_padding: 15px;

//一番外枠のレイアウト
.body {
    background-color:#F7F7F7;
}
//一番外枠の余白
.outer {
    padding: 20px;
}

//共通レイアウト
.layouts {
    width: 100%;
    // position: relative;
    &_inner {
        width: $max_width_value;
        margin: 0 auto;
        padding: $common_inner_padding;
    }
}
//hidden
.hidden {
    display: none;
}

//フッター
.footer {
    background-color: black;
    width: 100%;
    &_inner {
        width: $max_width_value;
        padding: $common_inner_padding;
        margin: 0 auto;
    }
    &_copy {
        color: whitesmoke;
        text-align: center;
    }
    &_hoge {
        border-top: 1px solid yellow;
        a {
            color: yellow;
            padding-left: 10px;
        }
    }
}
.title {
    &_page {
        font-size: large;
        margin-bottom: 30px;
    }
}
.content {
    &_text {
        padding: $common_inner_padding;
    }
}
// これはできれば消したいんですけれどね
td, th, table {
    padding: $common_inner_padding;
    border: 1px solid black;
}

// フラッシュメッセージ
.flash {
    padding: $common_inner_padding;
    &_notice {
        background-color: gray;
    }
    &_success {
        background-color: green;
    }
    &_warning {
        background-color: yellow;
    }
    &_danger {
        background-color: red;
    }
}

//共通クラスのSCSS
.c{
    &_inner {
        margin: 10px;
        padding: 10px;
    }
    &_card {
        border: 1px solid black;
    }
}

// フォーム関連
.from_area {
    width: 100%;
    padding: 8px;
    label {
        display: block;
        padding: 4px 8px 4px 0;
    }
    input {
        display: block;
        padding: 6px 18px;
        border-radius: 24px;
        border: 1px solid #73bec1;
        outline: none;
        font-size: large;
        color: $basic_color;
    }
}

// 必須アイコン
.require::after {
    content: "必須";
    margin-left: 5px;
    padding: 3px;
    font-size: small;
    color: #ff4162;
}

.page {
    &_title {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }
    &_content {
        text-align: center;
    }
}

.text {
    &_l{
        text-align: left;
    }
    &_c{
        text-align: center;
    }
    &_r{
        text-align: right;
    }
}

// ボタン
input[type=submit] {
    border-radius: 24px;
    background-color: #ffc04db5;
    padding: 4px 16px;
    font-size: large;
    &:hover {
        cursor: pointer;       
    }
}

//タグ
p {
    padding: 4px;
}

//外枠
.main_area {
    background-color: #fff;
    border: 1px solid #80808030;
    padding: 10px;
    margin-bottom: 15px;
    display: block;
}

.aaa {
    border: 1px solid red;
}
.bbb {
    border: 1px solid blue;
}